<a href="https://colab.research.google.com/github/Estela25/PRACTICAS-PROGRAMACION-III/blob/main/Te_damos_la_bienvenida_a_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hola Mundo", "Bienvenidos a Programacion Computacional III, con Python")
print("Mi nombre es: ", "Katerin Orellana")

hola Mundo Bienvenidos a Programacion Computacional III, con Python
Mi nombre es:  Katerin Orellana

In [ ]:
nombre = "Katerin Orellana"
print("Hola ", nombre, type(nombre))

nombre = 18
print("Tu edad es: ", nombre + 2, type(nombre))

Hola  Katerin Orellana <class 'str'>
Tu edad es:  20 <class 'int'>

In [ ]:
nombre = "Katerin Orellana"
print("Tu nombre es: ", nombre, "Longitud de tu Nombre: ", len(nombre), "Iniciales: ", nombre[0],nombre[5])

Tu nombre es:  Katerin Orellana Longitud de tu Nombre:  16 Iniciales:  K i

In [ ]:
num1 = 5
num2 = 4.6
resp = num1 + num2
print("La suma de num1: ", num1 , " + num2: ", num2, "es igual a: ", resp)

La suma de num1:  5  + num2:  4.6 es igual a:  9.6

In [ ]:
num1 = float(input("Ingrese un numero entero: "))
num2 = float(input("Ingrese otro Num decimal: "))
resp = num1 + num2
print("SUma", resp, type(resp))

Ingrese un numero entero: 7
Ingrese otro Num decimal: 3
SUma 10.0 <class 'float'>

In [ ]:
nombre = input("Dime tu nombre: ")
print(nombre, type(nombre), len(nombre))

print(nombre[0], nombre[1], nombre[2], nombre[3])

Dime tu nombre: katerin
katerin <class 'str'> 7
k a t e

In [ ]:
resp = 4 - 4 * 6 / 2 + 1
print(resp)

-7.0

In [ ]:
gustaProgramacion = True #False
print("Te gusta programar: ", gustaProgramacion)

gustaDiseno = False
print("Te gusta diseñar: ", gustaDiseno)

Te gusta programar:  True
Te gusta diseñar:  False

In [ ]:
def suma(num1, num2):
  return num1 + num2
print("La suma de 5 + 7 = ", suma(5,7))

La suma de 5 + 7 =  12

In [ ]:
def suma(num1, num2):
  return num1 + num2
num1 = float(input("Dime un numero: "))
num2 = float(input("Dime otro numero: "))

print("La suma es: ", suma(num1, num2))

In [ ]:
suma = lambda num1,num2: num1 + num2

In [ ]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
print( "La respuesta es: ", suma(num1, num2))

In [ ]:
lista = [2,7,8,6,9]

In [ ]:
cuadrado = lambda num: num**2

In [ ]:
print( type(cuadrado) )

In [ ]:
cubo  = lambda num: num**3

In [ ]:
potencia = lambda num, n: num**n

In [ ]:
print("Lista: ", lista, " al cuadrado: ", list( map(cuadrado, lista) ), " al cubo: ", list(map(cubo, lista)) )

In [ ]:
print( "2 al cubo es: ", potencia(4, 5) )

In [ ]:
print("Lista Original: ", lista, " al cubo: ", list(map(lambda num: num**3, lista)) )

In [ ]:
fpares = lambda num: num%2==0 # %=> Modulo=> devuelve el residuo de una division 5/2 = 1=>residuo

In [ ]:
fimpares = lambda num: num%2!=0

In [ ]:
print("Lista original: ", lista, " solo pares: ", list(filter(fpares, lista)), " los impares: ", list(filter(fimpares, lista)) )

NameError: ignored

In [ ]:
suma = lambda a,b: a+b

In [ ]:
#import functools

In [ ]:
import functools
print("Lista original: ", lista, "la suma: ", functools.reduce(suma, lista), " media Aritmetica: ", functools.reduce(suma, lista)/len(lista) )

In [ ]:
c= 27

In [ ]:
def convertirCaF(c):
  return c*9/5 + 32

In [ ]:
print("Celsius a F: ", convertirCaF(c))

In [ ]:
gradosCiudades = [27, 30, 32, 35, 40, 45]

In [ ]:
print(gradosCiudades, "Respuesta: ", list(map(convertirCaF, gradosCiudades)) )

In [ ]:
gradosf = [80.6, 86, 89.6, 95, 104, 113]

In [ ]:
def convertirFaC(f):
  return (f-32) * 5/9

In [ ]:
print(gradosf, " Respuesta: ", list(map(convertirFaC, gradosf)) )

In [ ]:
print(gradosf, " Respuesta: ", list(map(lambda f: (f-32)*5/9, gradosf)) )

Trea:

Hacer un algoritmo en python que convierta de grados Celsius a Kelvin y viceversa, usando funciones de usuario y lambda.

Hacer un algoritmo en python que encuentre la Nota Final de Ciclo de una Materia en Particular usando funciones de usuario y lambda.

In [ ]:
gradosCelcius = lambda GC: GC+273.15

GC = float(input("Grados celcius a convertir "))

print("Celcius a Kelvin: ", gradosCelcius(GC))

In [ ]:
kelvin = lambda GK: GK-273.15

GK = float(input("Grados Kelvin a convertir "))

print("kelvin a celsius: ",kelvin(GK))

In [ ]:
edades = (2,5,12,18,65,100) #La tupl es inmutable, es decir, no podemos cambiar su valor y se declara con parenteis pero se usa con corchetes
print( edades, "La edad de bebe es la mejor: ", edades[0] )

#edades[0] = 1, es inmutable, no se puede modificar

In [ ]:
print("Edades: ", edades, "Responsabilidades: ", tuple( filter(lambda e:e>=18, edades) ) )
print("Edades: ", edades, " Al cuadrado: ", tuple(map(lambda n:n**2, edades)) )

In [ ]:
notas = [6,8,10] #Listas, son mutables, es decir, podemos cambiar sus valores y se declaran y usan con corchetes
print("Notas Originales: ", notas)

notas[0] = 9
print("Notas: ", notas)

In [ ]:
notasProgra = [
    [9,8,10], #C1
    [10,6,9], #C2
    [10,9,10] #C3
]
print(notasProgra)

In [ ]:
print("Lab2 de C1", notasProgra[0][1] )

In [ ]:
notas = [
    [ #Progra III
      [9,8,[8,9]], #C1
      [10,6,9], #C2
      [10,9,10] #C3
    ], 
    [ #Estadistica
      [5,7,10], #C1
      [9,8,9],  #C2
      [10,10,10]#C3
    ],
    [ #BD
      [7,8,9],  #C1
      [9,8,7],  #C2
      [10,9,10],#C3
    ], 
    [ #Ingles
      [8,9,10], #C1
      [9,10,9], #C2
      [10,10,10]#C3
    ],
    [ #Circuito Digitales
      [5,8,7], #C1
      [8,7,9], #C2
      [9,10,9] #C3
    ]
]
import functools
print( "Lab1 de Estadistica en C1", notas[1][0][0], "NOta de Parcial C1 de Progra III: ",functools.reduce(lambda a,b: a+b, notas[0][0][2])/2 )

conversiones de monedas

In [ ]:
lempira = 24.66
quetzal = 7.75
pesoC = 4249.81
cordoba = 35.99
pesoM = 19.88

conversion= ["1.lempira", "2.quetzal", "3.pesoC", "4.cordoba", "5.pesoM"]

def converson():  
  print("Escoja entre las opciones")
  print("Tipo de Conversiones", conversion)
  pregunta = int(input("Seleccione el numero de la moneda a convertir "))

  if pregunta == 1:
     lempiraC = float(input("Ingrese la cantidad a convertir(L): " ))
     converL = lempira * lempiraC
     print("La conversion de lempiras a dolares es: ", converL)

  elif pregunta == 2:
    quetzalC = float(input("Ingrese la Cantidad a converir: "))
    converQ = quetzal * quetzalC
    print("La conversion de quetzales a dolares es: ", converQ)

  elif pregunta == 3:
    pesoCo = float(input("Ingrese la cantidad a convertir(Col): " ))
    converPcol = pesoC * pesoCo
    print("La conversion de lempiras a dolares es: ", converPcol)

  elif pregunta == 4:
    cordovaC = float(input("Ingrese la cantidad a convertir(c): " ))
    converC = cordoba * cordovaC
    print("La conversion de lempiras a dolares es: ", converC)

  elif pregunta == 5:
    pesoMC = float(input("Ingrese la cantidad a convertir(M): " ))
    converPM = pesoM * pesoMC
    print("La conversion de lempiras a dolares es: ", converPM)

  else:
      print("seleccione moneda a convertir")

  return

converson()
opcion = 1

while opcion == int(input("Dijite 1 para hacer otra conversion y 2 para salir")):
  converson()
  
else:
    print("chao")

In [ ]:
divisas = ["seleccione una divisa", "Dolares",
           "Quezalez","Lempiras","Cordobas",
           "Pesos CR","Euros","Colon SV",
           "Yenes","Soles Peruanos"
]
valores = [0,1, 7.71, 24.51, 35.77, 664.64, 0.98, 8.75, 134.13, 3.84]

In [ ]:
def convertir(de, a, cantidad):
  return valores[a] / valores[de] * cantidad

In [ ]:
print("***Menu***")
print("1.Dolares")
print("2.Quezalez")
print("3.Lempiras")
print("4.Cordobas")
print("5.Pesos CR")
print("6.Euros")
print("7.Colon SV")
print("8.Yenes")
print("9.Soles Peruanos")

In [ ]:
de = int(input("DE: "))
a = int(input("A:"))
cantidad = float(input("Cantidad:"))

print(divisas[de], "a", valores[a], "es:", convertir(de,a,cantidad))

tarea semana 4

1.Calcular sobre el sueldo las deducciones por ley ISSS (3%), AFP( 6.25%), ISR(Según tabla) e imprima el total deducciones 
y sueldo neto. (20%)

In [ ]:
sueldo = float(input("Digite su sueldo: "))

deducciones = [3,6.25,27]



isss = (sueldo*deducciones[0])/100

afp = (sueldo*deducciones[1])/100

isr = (sueldo*deducciones[2])/100

totaldescuentos = isss+afp+isr

total = sueldo-totaldescuentos

print("**DESCUENTOS**")

print("ISSS: ",isss)

print("AFP: ",afp)

print("ISR: ",isr)

print("**SUELDO TOTAL**")

print("Sueldo Neto: ", total)

Digite su sueldo: 300
**DESCUENTOS**
ISSS:  9.0
AFP:  18.75
ISR:  81.0
**SUELDO TOTAL**
Sueldo Neto:  191.25

2.Calcular el valor a pagar según el número de metros consumidos de agua potable (Ver tabla en la siguiente diapositiva). 
(20%)

In [ ]:
consumo = int(input("Dijite su consumo de agua:  "))

tarfaFija = 6



if consumo <= 18:

  print("Su Tarifa es: $",tarfaFija)

elif consumo >= 19:

  total = (consumo - 18)*0.45+tarfaFija

  print("Su tarifa es: $",total)

elif consumo >= 29:

  total2 = (consumo - 28)*0.65+tarfaFija

  print("Su tarifa es: $",total2)

else:

  print("Dijitos no validos")

Dijite el valor de consumo del agua:  26
Su tarifa es: $ 9.6

3. Desarrolle la tabla de meses acumulados a n meses. Si puede encontrar la formula matemática para evitar ciclos.

In [ ]:
def suman(meses):
  k = meses
  f = k * (k + 1) / 2
  t = f
  print("Meses:", k, "Acumulados a pagar:",t)

meses =int(input("Digite meses a pagar:"))

suman(meses)

Digite meses a pagar:10
Meses: 10 Acumulados a pagar: 55.0

4. Conversores: (40%) (10 ítems como mínimo por cada uno)
• Monedas (Resuelto en clases)
• Longitud
• Masa
• Almacenamiento
• Tiempo 
• Volumen
• Área

In [1]:
def convertir(conversor, de, a, cantidad):
  return valores[conversor][a] / valores[conversor][de] * cantidad

In [2]:
etiquetas = [
[],
["seleccione una divisa", "1. Dolares",
           "2. Quezalez","3. Lempiras","4. Cordobas",
           "5. Pesos CR","6. Euros","7. Colon SV",
           "8. Yenes","9. Soles Peruanos", "10. Peso M"
], #Divisas 

["Seleccione una opcion", "1. Metros","2. Milimetros", "3. Centimetros",
 "4. Pie", "5. Varas", "6. Yardas", "7. Km", "8. Millas", "9. Decimetros", "10. Nanometro"
], #Longitud

["Seleccione una opcion", "1. Gigabyte", ". Megabyte", "3. Kilobyte","4. Terabyte",
 "5. Petabyte","6. Tebibyte","7. Kibibyte","8. Gibibyte","9. Byte","10. Tetibyte"
], #Almacenamiento
["Seleccione una opcion", "1. Kilogramo","2. Tonelada", "3. Centigramo", "4. Gramo", 
 "5. Microgramo", "6. Miligramo", "7. Onza", "8. Libra", "9. Stone", "10. Tonelada corta"
], #Masa
["Seleccione una opcion","1. Siglo", "2. Decada", "3. Mes", "4. Dia", "5. Hora", "6. Año natural", "7. semana",
  "8. Segundo","9. Milisegundos","10. Minuto"
], #Tiempo
["Seleccione una opcion", "1. Litro","2. Mililitro", "3. Metro cubico", "4. Cuarto imperial",
   "5.Galon imperial", "6. Taza imperial","7, Pinta imperial","8. Cucharada imperial","9. cucharadita imperial","10. Onza liquda imperial"
], #Volumen 
["Seleccione la opcion", "1.Kilimetro Cuadrado","2.Metro Cuadrado","3.Milla Cuadrada","4.Yarda Cuadrada","5.Pie Cuadrado",
    "6.Pulgada Cuadrada","7.Hectarea","8.Acre","9.Tareas","10.Manzanas"
]#Area,Manzanas,Tareas
]
valores = [[],
    [0,1, 7.71, 24.51, 35.77, 664.64, 0.98, 8.75, 134.13, 3.84, 19.93],#Divisas
    [0,1, 1000, 100, 3.28084, 1.20, 1.0936133, 0.001, 0.000621371,10,1000000000],#Longitudes 
     [0,1,1000, 1000000,1126,1024,9.0949e-13,1.126,1.049e+6,1.074e+9,1.126e+15],#Almacenamiento
    [0,1,10,100,1200,5214,36500,876000,5.256e+7,3.154e+9,3.154e+12],#tiempo
    [0,1,1000,1e+6,1e+8,1e+9,1e+12,1.102,157.5,22005,35270],#Masa
    [0,1,1000,1e+6,220,879.9,1760,3520,35200,56310,168900],#Volumen
    [0,1,1e+6,0.3861,1.1196e+6,1.076e+7,1.55e+9,100,247.1,1590.3307888,141.7]#Area,Manzanas,Tareas
]

In [5]:
print("**MENU** - CONVERSOR")
print("1. Divisas")
print("2. Longitud")
print("3. Almacenamiento")
print("4. Masa")
print("5. Tiempo")
print("6. Volumen")
print("7. Area,Manzanas,Tareas")
opcion= int(input("Convertir: "))
print("CONVERSOR ELEGIDO: ", etiquetas[opcion])
de= int(input("DE: "))
a = int(input("A: "))
cantidad = int(input("cantidad: "))
print("conversor de ", etiquetas[opcion][de], "a", etiquetas[opcion][a], "equivale a",convertir(opcion,de,a,cantidad))

**MENU** - CONVERSOR
1. Divisas
2. Longitud
3. Almacenamiento
4. Masa
5. Tiempo
6. Volumen
7. Area,Manzanas,Tareas
Convertir: 2
CONVERSOR ELEGIDO:  ['Seleccione una opcion', '1. Metros', '2. Milimetros', '3. Centimetros', '4. Pie', '5. Varas', '6. Yardas', '7. Km', '8. Millas', '9. Decimetros', '10. Nanometro']
DE: 1
A: 3
cantidad: 2
conversor de  1. Metros a 3. Centimetros equivale a 200.0

5. Realizar un conversor propio, donde especifique el valor de conversión:

In [26]:
def convertir(opcion,de, a, cantidad):
  return valor[opcion][a] / valor[opcion][de] * cantidad

In [27]:
conversor_p = [
  [],
  ["seleccione uno a convertir", "1. Unidades","2. cajas"],
  ["Selecione uno a convertir""3. Saco","4. Libra"],
  ["Seleccione uno a convertir" "5. Fardo", "2. Unidades"]
]
valor = [
  [],
  [0,1,25],
  [0,1,50],
  [0,1,5]
]

In [29]:
print("Menu")
print("1. CAJAS/UNIUDADES")
print("2. SACO/LIBRAS")
print("3. FARDO/UNIDADES")
opcion = int(input("OPCION: "))
de = int(input("DE: "))
a = int(input("A:"))
cantidad = float(input("cantidad: "))

print(conversor_p[opcion][de], "a", valor[opcion][a], "es:", convertir(opcion,de,a,cantidad))

Menu
1. CAJAS/UNIUDADES
2. SACO/LIBRAS
3. FARDO/UNIDADES
OPCION: 1
DE: 2
A:1
cantidad: 80
2. cajas a 1 es: 3.2

ESTRUCTURAS DE CONTROL

In [ ]:
edad = int(input("Dime tu edad: "))
if(edad<=2):
  print("Eres un bebe")
elif(edad<12):
  print("Edad un niño")
elif (edad<18):
  print("Eres un adolescente")
elif(edad<65):
  print("Eres mayor de edad, tienes responsabilidades")
elif(edad<80):
  print("Eres un adulto mayor")
else:
  print("Larga vida")

In [ ]:
ntabla = int(input("Tabla: "))
i=1
while(i<=10):
  print(ntabla, "X", i, "=", ntabla*i)
  i+=1

In [ ]:
ntabla = int(input("Tabla: "))
for i in range(1, 11):
  print(ntabla, "X", i, "=", ntabla*i)

In [ ]:
s="s"
while s=="s":
  ntabla = int(input("Tabla: "))
  for i in range(1,11):
    print(ntabla, "X", i, "=", ntabla*i)
  s = input("Continuar s, cualquier otra tecla para salir ")
print("Salistes...")

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

KeyboardInterrupt: ignored

In [ ]:
def convertir(conversor, de, a, cantidad):
  return valores[conversor][a] / valores[conversor][de] * cantidad

In [ ]:

etiquetas = [
[],
["seleccione una divisa", "1. Dolares",
           "2. Quezalez","3. Lempiras","4. Cordobas",
           "5. Pesos CR","6. Euros","7. Colon SV",
           "8. Yenes","9. Soles Peruanos"
],
["Seleccione una opcion", "1. Metros","2. Milimetros", "3. Centimetros", "4. Pie", "5. Varas", "6. Yardas", "7. Km", "8. Millas"],

["Seleccione una opcion", "1. Gigabyte", ". Megabyte", "3. Kilobite"]
]
valores = [[],
    [0,1, 7.71, 24.51, 35.77, 664.64, 0.98, 8.75, 134.13, 3.84],#Divisas
    [0,1, 1000, 100, 3.28084, 1.20, 1.0936133, 0.001, 0.000621371],#Longitudes 
    [0,1,1000, 1000000]
]

In [ ]:
print("**MENU** - CONVERSOR")
print("1. Divisas")
print("2. Longitud")
opcion= int(input("Convertir: "))
print("CONVERSOR ELEGIDO: ", etiquetas[opcion])
de= int(input("DE: "))
a = int(input("A: "))
cantidad = int(input("cantidad: "))
print("conversor de ". etiquetas[opcion][de], "a", etiquetas[opcion][a], "equivale a",convertir(opcion,de,a,cantidad))

**MENU** - CONVERSOR
1. Divisas
2. Longitud