<a href="https://colab.research.google.com/github/Estela25/PRACTICAS-PROGRAMACION-III/blob/main/Te_damos_la_bienvenida_a_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("hola Mundo", "Bienvenidos a Programacion Computacional III, con Python")
print("Mi nombre es: ", "Katerin Orellana")

hola Mundo Bienvenidos a Programacion Computacional III, con Python
Mi nombre es:  Katerin Orellana

In [4]:
nombre = "Katerin Orellana"
print("Hola ", nombre, type(nombre))

nombre = 18
print("Tu edad es: ", nombre + 2, type(nombre))

Hola  Katerin Orellana <class 'str'>
Tu edad es:  20 <class 'int'>

In [5]:
nombre = "Katerin Orellana"
print("Tu nombre es: ", nombre, "Longitud de tu Nombre: ", len(nombre), "Iniciales: ", nombre[0],nombre[5])

Tu nombre es:  Katerin Orellana Longitud de tu Nombre:  16 Iniciales:  K i

In [6]:
num1 = 5
num2 = 4.6
resp = num1 + num2
print("La suma de num1: ", num1 , " + num2: ", num2, "es igual a: ", resp)

La suma de num1:  5  + num2:  4.6 es igual a:  9.6

In [7]:
num1 = float(input("Ingrese un numero entero: "))
num2 = float(input("Ingrese otro Num decimal: "))
resp = num1 + num2
print("SUma", resp, type(resp))

Ingrese un numero entero: 7
Ingrese otro Num decimal: 3
SUma 10.0 <class 'float'>

In [8]:
nombre = input("Dime tu nombre: ")
print(nombre, type(nombre), len(nombre))

print(nombre[0], nombre[1], nombre[2], nombre[3])

Dime tu nombre: katerin
katerin <class 'str'> 7
k a t e

In [9]:
resp = 4 - 4 * 6 / 2 + 1
print(resp)

-7.0

In [10]:
gustaProgramacion = True #False
print("Te gusta programar: ", gustaProgramacion)

gustaDiseno = False
print("Te gusta diseñar: ", gustaDiseno)

Te gusta programar:  True
Te gusta diseñar:  False

In [11]:
def suma(num1, num2):
  return num1 + num2
print("La suma de 5 + 7 = ", suma(5,7))

La suma de 5 + 7 =  12

In [ ]:
def suma(num1, num2):
  return num1 + num2
num1 = float(input("Dime un numero: "))
num2 = float(input("Dime otro numero: "))

print("La suma es: ", suma(num1, num2))

In [ ]:
suma = lambda num1,num2: num1 + num2

In [ ]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
print( "La respuesta es: ", suma(num1, num2))

In [ ]:
lista = [2,7,8,6,9]

In [ ]:
cuadrado = lambda num: num**2

In [ ]:
print( type(cuadrado) )

In [ ]:
cubo  = lambda num: num**3

In [ ]:
potencia = lambda num, n: num**n

In [ ]:
print("Lista: ", lista, " al cuadrado: ", list( map(cuadrado, lista) ), " al cubo: ", list(map(cubo, lista)) )

In [ ]:
print( "2 al cubo es: ", potencia(4, 5) )

In [ ]:
print("Lista Original: ", lista, " al cubo: ", list(map(lambda num: num**3, lista)) )

In [ ]:
fpares = lambda num: num%2==0 # %=> Modulo=> devuelve el residuo de una division 5/2 = 1=>residuo

In [ ]:
fimpares = lambda num: num%2!=0

In [ ]:
print("Lista original: ", lista, " solo pares: ", list(filter(fpares, lista)), " los impares: ", list(filter(fimpares, lista)) )

In [ ]:
suma = lambda a,b: a+b

In [ ]:
#import functools

In [ ]:
import functools
print("Lista original: ", lista, "la suma: ", functools.reduce(suma, lista), " media Aritmetica: ", functools.reduce(suma, lista)/len(lista) )

In [ ]:
c= 27

In [ ]:
def convertirCaF(c):
  return c*9/5 + 32

In [ ]:
print("Celsius a F: ", convertirCaF(c))

In [ ]:
gradosCiudades = [27, 30, 32, 35, 40, 45]

In [ ]:
print(gradosCiudades, "Respuesta: ", list(map(convertirCaF, gradosCiudades)) )

In [ ]:
gradosf = [80.6, 86, 89.6, 95, 104, 113]

In [ ]:
def convertirFaC(f):
  return (f-32) * 5/9

In [ ]:
print(gradosf, " Respuesta: ", list(map(convertirFaC, gradosf)) )

In [ ]:
print(gradosf, " Respuesta: ", list(map(lambda f: (f-32)*5/9, gradosf)) )

Trea:

Hacer un algoritmo en python que convierta de grados Celsius a Kelvin y viceversa, usando funciones de usuario y lambda.

Hacer un algoritmo en python que encuentre la Nota Final de Ciclo de una Materia en Particular usando funciones de usuario y lambda.

In [ ]:
gradosCelcius = lambda GC: GC+273.15

GC = float(input("Grados celcius a convertir "))

print("Celcius a Kelvin: ", gradosCelcius(GC))

In [ ]:
kelvin = lambda GK: GK-273.15

GK = float(input("Grados Kelvin a convertir "))

print("kelvin a celsius: ",kelvin(GK))

In [ ]:
edades = (2,5,12,18,65,100) #La tupl es inmutable, es decir, no podemos cambiar su valor y se declara con parenteis pero se usa con corchetes
print( edades, "La edad de bebe es la mejor: ", edades[0] )

#edades[0] = 1, es inmutable, no se puede modificar

In [ ]:
print("Edades: ", edades, "Responsabilidades: ", tuple( filter(lambda e:e>=18, edades) ) )
print("Edades: ", edades, " Al cuadrado: ", tuple(map(lambda n:n**2, edades)) )

In [ ]:
notas = [6,8,10] #Listas, son mutables, es decir, podemos cambiar sus valores y se declaran y usan con corchetes
print("Notas Originales: ", notas)

notas[0] = 9
print("Notas: ", notas)

In [ ]:
notasProgra = [
    [9,8,10], #C1
    [10,6,9], #C2
    [10,9,10] #C3
]
print(notasProgra)

In [ ]:
print("Lab2 de C1", notasProgra[0][1] )

In [ ]:
notas = [
    [ #Progra III
      [9,8,[8,9]], #C1
      [10,6,9], #C2
      [10,9,10] #C3
    ], 
    [ #Estadistica
      [5,7,10], #C1
      [9,8,9],  #C2
      [10,10,10]#C3
    ],
    [ #BD
      [7,8,9],  #C1
      [9,8,7],  #C2
      [10,9,10],#C3
    ], 
    [ #Ingles
      [8,9,10], #C1
      [9,10,9], #C2
      [10,10,10]#C3
    ],
    [ #Circuito Digitales
      [5,8,7], #C1
      [8,7,9], #C2
      [9,10,9] #C3
    ]
]
import functools
print( "Lab1 de Estadistica en C1", notas[1][0][0], "NOta de Parcial C1 de Progra III: ",functools.reduce(lambda a,b: a+b, notas[0][0][2])/2 )

conversiones de monedas

In [ ]:
lempira = 24.66
quetzal = 7.75
pesoC = 4249.81
cordoba = 35.99
pesoM = 19.88

conversion= ["1.lempira", "2.quetzal", "3.pesoC", "4.cordoba", "5.pesoM"]

def converson():  
  print("Escoja entre las opciones")
  print("Tipo de Conversiones", conversion)
  pregunta = int(input("Seleccione el numero de la moneda a convertir "))

  if pregunta == 1:
     lempiraC = float(input("Ingrese la cantidad a convertir(L): " ))
     converL = lempira * lempiraC
     print("La conversion de lempiras a dolares es: ", converL)

  elif pregunta == 2:
    quetzalC = float(input("Ingrese la Cantidad a converir: "))
    converQ = quetzal * quetzalC
    print("La conversion de quetzales a dolares es: ", converQ)

  elif pregunta == 3:
    pesoCo = float(input("Ingrese la cantidad a convertir(Col): " ))
    converPcol = pesoC * pesoCo
    print("La conversion de lempiras a dolares es: ", converPcol)

  elif pregunta == 4:
    cordovaC = float(input("Ingrese la cantidad a convertir(c): " ))
    converC = cordoba * cordovaC
    print("La conversion de lempiras a dolares es: ", converC)

  elif pregunta == 5:
    pesoMC = float(input("Ingrese la cantidad a convertir(M): " ))
    converPM = pesoM * pesoMC
    print("La conversion de lempiras a dolares es: ", converPM)

  else:
      print("seleccione moneda a convertir")

  return

converson()
opcion = 1

while opcion == int(input("Dijite 1 para hacer otra conversion y 2 para salir")):
  converson()
  
else:
    print("chao")

In [ ]:
divisas = ["seleccione una divisa", "Dolares",
           "Quezalez","Lempiras","Cordobas",
           "Pesos CR","Euros","Colon SV",
           "Yenes","Soles Peruanos"
]
valores = [0,1, 7.71, 24.51, 35.77, 664.64, 0.98, 8.75, 134.13, 3.84]

In [ ]:
def convertir(de, a, cantidad):
  return valores[a] / valores[de] * cantidad

In [ ]:
print("***Menu***")
print("1.Dolares")
print("2.Quezalez")
print("3.Lempiras")
print("4.Cordobas")
print("5.Pesos CR")
print("6.Euros")
print("7.Colon SV")
print("8.Yenes")
print("9.Soles Peruanos")

In [ ]:
de = int(input("DE: "))
a = int(input("A:"))
cantidad = float(input("Cantidad:"))

print(divisas[de], "a", valores[a], "es:", convertir(de,a,cantidad))

tarea semana 4

1,.Calcular sobre el sueldo las deducciones por ley ISSS (3%), AFP( 6.25%), ISR(Según tabla) e imprima el total deducciones 
y sueldo neto. (20%)